<table>
  <% requests.each do |request| %>
    <% cat = request.cat %>
    <tr>
      <td><a href="<%= cat_url(cat) %>"><%= cat.name %></td>
      <td><%= request.status %></td>
      <%= render "cat_rental_requests/show", request: request %>
    </tr>
  <% end %>
</table>
