/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(http://pubpages.unh.edu/~chf34/projectcat.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,h2,h3 {
  text-align: center;
}

.container {
  height: 100%;
  width: 65%;
  margin: 35% auto;
  background-color: rgba(0,0,0,0.8);
  color: peachpuff;
  border-radius: 5px;
}

nav {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  border-radius: 5px;
}

.content {
  padding: 40px 80px;
}

li {
  margin: 10px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

a {
  text-decoration: none;
}

a:link {
    color: lemonchiffon;
}

a:visited {
    color: lemonchiffon;
}

a:hover {
    color: pink;
}

a:active {
    color: #0000FF;
}
